os: linux
arch: ppc64le
dist: bionic
sudo: required
services:
  - docker
language: go
go:
- "1.13.x"

# add TF_CONSUL_TEST=1 to run consul tests
# they were causing timouts in travis
# add TF_ETCDV3_TEST=1 to run etcdv3 tests
# if added, TF_ETCDV3_ENDPOINTS must be set to a comma-separated list of (insecure) etcd endpoints against which to test
env:
  - CONSUL_VERSION=0.7.5 GOMAXPROCS=4 GO111MODULE=on

# Fetch consul for the backend and provider tests
before_install:
  - cd ..
  - rm -rf terraform
  - git clone https://github.com/hashicorp/terraform.git
  - cd terraform
  - git checkout 43c1ec69e2739ebb036a7fe871d9ff0bde4acc59
  - curl -sLo consul.zip https://releases.hashicorp.com/consul/${CONSUL_VERSION}/consul_${CONSUL_VERSION}_linux_amd64.zip
  - unzip consul.zip
  - mkdir -p ~/bin
  - mv consul ~/bin
  - export PATH="~/bin:$PATH"

install:
# This script is used by the Travis build to install a cookie for
# go.googlesource.com so rate limits are higher when using `go get` to fetch
# packages that live there.
# See: https://github.com/golang/go/issues/12933
- bash scripts/gogetcookie.sh
- make tools
- make test
- go mod verify

before_script:
- git config --global url.https://github.com/.insteadOf ssh://git@github.com/

script:
- XC_OS=linux XC_ARCH=ppc64le make bin
- cd bin
- sudo chmod 777 terraform
- ./terraform -help
#- make e2etest
# website-test is temporarily disabled while we get the website build back in shape after the v0.12 reorganization
#- make website-test

notifications:
  slack:
    rooms:
      - secure: "Okqs62AsJ2lcJ6NxJoAIsxLQ9yvKYzx2oKmokG260+fo3v8D+25qHVNkxbji0ZqaIWAdqbcy+lLvMAsOi9VulFt0tKjaPZ+1LfS0szPu6wpXnibFEQasouXcow17SRLra+0V6i+/IE6wIe6WnvhD7tf9Hw9+1J7Zafulz2wQXyIpx98XAV95C04s4yXe779khHEb14EQIZfWrMsb3L52ZhJ0urPoiOlSalIf1oslR9+M4SbN7xQYXddJBH2jBpJLFuJ26U9s7RO+bG9AT/4g0p1YcQnK0uRXnn5H7PdVyRZtnAb8/bJLmPv2S+sS0woHA9EUmnblYJGjL5qfIu0SNif64hNY5q82OYhbL6cGTpTBM6ilFnT8yuYjo/xX3338XBJPBugUoc6WOSt5BVbNtrZUAH1uCeXcSu79hISdp2YaG43kEYHs4eB+4/tdlk9pTZ0UpLMDBmtt4CrOAqk/yf1I5TZ//ccBunt48TVMo+ZbcglxbVwZIgkOfExIpMdS2dPbyzf/h6BmQFtV+fB+tmDVlyRub0JZScZvgnP/4rlA3lAtcRk/HdK0sI9dKThteeJDwhXE98RO8Q7wbG/ADoABUfRy6+YyiYTwKEyaEvFbXpHZbFHIZDHiDv73VQ4vsQfrGAwwkQEP3SEU18EsTE3ogEul6sSw3OPrWoGUKWs="
    on_success: change
    on_failure: change
